body {
	background-image: url('/img/bg.png');
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.jumbotron-img {
	padding:1em 0em;
}

.jumbotron-header {
	background: #323A42;
	border-radius: 0px;
}

.navbar {
	border-radius: 0px;
	opacity: 0.85;
	margin: 2em 0em;
}

.nav > li.dropdown.open { 
	position: static; 
}
.nav > li.dropdown.open .dropdown-menu {
	display:table; 
	width: 100%; 
	text-align: center; 
	left:0; 
	right:0; 
}
.dropdown-menu>li { 
	display: table-row; 
}

.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:active {
    background-color: rgba(50, 58, 66, 0.62);
    box-shadow: none;
}

.wrap > .container {
	padding: 0em 1em;
}

.col-cell-padding {
	padding:5px;
}

.center {
	text-align:center;
}

.embed-responsive {
	z-index: -1;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}