body {
	background-image: url('/img/bg.png');
	font-family: 'Courier New', 'Courier New', Courier6, monospace;
	font-size: 14px;
	line-height:12px;
	overflow-x: hidden;
}

.row {
	margin: 0px 15px;
}

h4 {
	font-size:180%;
	font-weight: bold;
}

h3 {
	font-family: 'Courier New', 'Courier New', Courier6, monospace;
	font-kerning: auto;
	font-size: 16px;
	font-weight: bold;
}

.jumbotron-img {
	padding:1em 0em;
	max-width: 100%;
	height: 140px;
}

.jumbotron-header {
	background: #323A42;
	border-radius: 0px;
}

.navbar {
	border-radius: 0px;
	opacity: 0.95;
	margin: 2em 0em;
	-webkit-transform: translate3d(0, 0, 0);
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:10px !important; 
    padding-bottom:0 !important;
    height: 40px;
}
.navbar { min-height:40px !important; }
.navbar-default { background: none !important; }

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(255,255,255,0.3) !important;
}

.nav > li.dropdown.open { 
	position: static; 
}
.nav > li.dropdown.open .dropdown-menu {
	display:table; 
	width: 100%; 
	text-align: center; 
	left:0; 
	right:0; 
}
.dropdown-menu>li { 
	display: table-row; 
}

.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:active {
	color: #333 !important;
    background-color: rgba(255,255,255,0.3) !important;
    box-shadow: none;
}

.dropdown-menu a:focus,
.dropdown-menu a:hover {
	box-shadow: none;
    background-color: rgba(255,255,255,0.3) !important;
    font-weight: bolder;
}

.main-menu {
    font-family: EB Garamond;
    font-size: 16px;
    display: none;
    background-color: rgba(255,255,255,0.3) !important;
}

.wrap > .container {
	padding: 0em 1em 2em;
	font-size: 12.8px;
    line-height: 16.64px;
}

.col-cell-padding {
	padding:5px;
}

.center {
	text-align:center;
}

.left {
	text-align: left;
	padding-left:1em;
}

.right {
	text-align: right;
	padding-right:1em;
}

.bold {
	font-weight: bold;
}

.justifyed {
	text-align: justify;
}

.half-width {
	width:50%;
	display: table-cell;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.language-menu {
	z-index:1;
	position: absolute;
    top: 178px;
    padding: 8px;
    font-family: EB Garamond;
    font-size: 16px;
    display: none;
}

@media (min-width: 768px) {
	.language-menu {
	    top: 173px;
	}
}
.lang-menu-default, 
.lang-menu-active,
.lang-menu-active:hover, 
.lang-menu-default:hover, 
.lang-menu-default:active, 
.lang-menu-active:active {
	padding: 5px;
	text-decoration: none;
	color: #777;
}

.social-row {
	width:100%;
	display: table;
	margin: -3em auto 1em;
}

.seo-text {
	font-family: 'Courier New', 'Courier New', Courier6, monospace;
	font-kerning: auto;
	font-size:10.8px;
	margin: 3em auto 2em; 
    padding: 0.8em 2em 2em;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff;
    text-align: justify;
}

.seo-text h3 {
	font-size:16px;
}

.slick-container {
	width: 99%;
	margin:20px auto 20px;
	text-align: center;
}

.slick-next {
  right: 5px !important; 
  top: 45% !important; 
  z-index:2 !important; 
}

.slick-prev {
  left: 5px !important; 
  top: 45% !important; 
  z-index:2 !important; 
}

.slick-track {
  height: 700px;
  overflow-y: hidden;
}

.slick-dots li {
	  width: 10px !important;
}

.slick-dots {
	display:none !important;
}

.slick-slide img {
	height: 600px;
	padding:2px;
}

@media (min-width: 768px) {
	.slick-dots {
		bottom: 50px !important;
		display:block !important;
	}
}

.black-link{
	color: black;
	cursor: pointer;
}

.blackbg {
	background-color: black;
}
